c-lookup-item {  
   position: relative;  
   border: solid 1px #ecebea;  
   border-radius: 4px;  
   display: block;  
 }  

 searchICONHeight {
   width: .875rem;
  height: 1 rem;
  position: absolute;
  top: 50%;
  margin-top: -.438rem;
  line-height: 1;
  border: 0;
  z-index: 2;
  fill: #b0adab;
 }
   
 lightning-input:before,  
 c-lookup-item:before,  
 selectoptions:before {  
   color: #dddbda;  
   position: absolute;  
   top: -9px;  
   left: 4px;  
   background-color: #ffffff;   
 }  
 selectoptions {  
   border: solid 1px #ecebea;  
 }